@charset "UTF-8";

body {
    margin: 0%;
}

#div1 {
    height: 25vh;
    background-color: red;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#div2 {
    height: 25vh;
    background-color: orange;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#div3 {
    height: 25vh;
    background-color: yellow;
    text-align: center;
}